Assignment5/XCS224N-A5-master/src/expt/evaluate/run_vanilla_32_pt_lr_0.006000_ft_lr_0.000600_20240707-142727/events.out.tfevents.1720326447.Eswaripriyas-MacBook-Pro.local.7903.0
Assignment5/XCS224N-A5-master/src/expt/finetune/run_vanilla_32_pt_lr_0.006000_ft_lr_0.000600_20240707-142433/events.out.tfevents.1720326273.Eswaripriyas-MacBook-Pro.local.7729.0
Assignment5/XCS224N-A5-master/src/submission/vanilla.model.params
Assignment5/XCS224N-A5-master/src/submission/vanilla.nopretrain.dev.predictions
